body {
  margin: 0;
  padding: 0;
}

.container {
  display: none;
  position: relative;
  width: 100%;
  height: 100vh;
}

.overlay {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(138, 134, 138);
}

.content {
  z-index: 2;
  position: absolute;
  top: calc(50% - 180px);
  left: calc(50% - 230px);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 230px;
  height: 180px;
  background-color: cornflowerblue;
}